li{
    display: list-item;
}

p {
    font-weight: lighter;
    display: block;
    font-style: italic;
    color: pink;
}

h1 {
    color: red;
}

h2 {
    background-color: blue;
}

body {
    font-weight: bold;
}